<footer class="footer">
    <p>Copyright {{year}} <a href="http://desy.de">DESY</a></p>
    <p>Site generated using <a href="https://antora.org">Antora</a></p>
</footer>

<link rel="stylesheet" href="{{uiRootPath}}/css/stackoverflow-light.min.css">
<script src="{{uiRootPath}}/js/vendor/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<script src="{{uiRootPath}}/js/vendor/lightbox.js"></script>
